@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800&display=swap');



body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'urbanist', sans-serif;
    
}

body * {
    box-sizing: border-box;
    
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.left-login > h1 {
    font-size: 3vw;
    color: #214cce;
    font-weight: 800;
    margin: 0;
}


.left-login-image{
    width: 35vw;

}


.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'urbanist', sans-serif ;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #214cce;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #ffd601;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    font-family: 'urbanist', sans-serif ;
    
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #e1dee6;
    color: #000000de;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056 ;
    outline: none;
    box-sizing: border-box;
    font-family: 'urbanist', sans-serif ;

}



.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
    font-weight: 500;
   
}

.textfield > input[type="date"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
     font-family: 'Noto Sans', sans-serif;
     font-size: 12pt;
     font-weight: 350;
     font-family: 'urbanist', sans-serif ;
}



.cpf {
    
    width: 527px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #e1dee6;
    color: #000000de;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056 ;
    outline: none;
    box-sizing: border-box;

}

.cpf > label {
    color: #f0ffffde;
    margin-bottom: 10px;
    font-family: 'urbanist', sans-serif ;
}



.termoaccept{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}


.termoaccept > h1 {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.termoaccept > form {
    color: #f0ffffde;
    margin-bottom: 5px;
}

.termoaccept > input::placeholder{
    color: #f0ffff94;
}
a{
    width: 100%;
    margin-right: 42px; 
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #000000;
    background: #ffd601;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #4a3d3d;
    font-family: 'urbanist', sans-serif;
    font-weight: 900;
    
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width:600px){
    .main-login{
        flex-direction: column;

    }
    .left-login > h1 {
        display: none;

    }
    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 50vw;
    }

    .card-login{
        width: 90;
    }
}

.password-toggle {
    position: absolute;
    margin-top:80px;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    margin-right:230px ;
    
  }

  #olho {
    height:30px ;
    width:30px ;
   
  }
h1{
    font-family: 'urbanist', sans-serif ;
}
